<div class="container">
  <div class="form-group">
      <input type="number" [(ngModel)]="regno" name="regno" id="regno" class="form-control" placeholder="Student regno">
  </div>
  <div class="form-group">
    <input type="number" [(ngModel)]="cid" name="cid" id="cid" class="form-control" placeholder="Course ID">
  </div>
  <div class="form-group">
    <input type="text" [(ngModel)]="cname" name="cname" id="cname" class="form-control" placeholder="Course Name">
  </div>
  <div class="form-group">
    <input type="number" [(ngModel)]="credits" name="credits" id="credits" class="form-control" placeholder="Course credits">
  </div>
  <div class="form-group">
    <button class="btn btn-primary" [disabled]="!regno || !cname || !cid || !credits" (click)="insert()">Insert Data</button>
</div>
</div>
