<div class="link-cont body">
    <div class="link-wrapper">
        <a class="link hover-1" href="/AddStudent">Add Student</a>
    </div>
    <div class="link-wrapper">
        <a class="link hover-2" href="/DisplayAll">Display all student data</a>
    </div>
    <div class="link-wrapper">
        <a class="link hover-3" href="/Cocurricular">Co-curricular</a>
    </div>
    <div class="link-wrapper">
        <a class="link hover-4" href="/DisciplinaryActions">Disciplinary Actions</a>
    </div>
    <div class="link-wrapper">
        <a class="link hover-5" href="/ExtraCurricular">Extra Curriculart</a>
    </div>
    <div class="link-wrapper">
        <a class="link hover-6" href="/AddProgram">Add Program</a>
    </div>
    <div class="link-wrapper">
      <a class="link hover-1" href="/AddCourse">Add Course</a>
    </div>
</div>
